*{
    box-sizing: content-box;
    margin:0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style-type: none;
    
}
body{
    background-color: rgb(117, 117, 121);
}

/* --------------HEADER----------------- */

header, .usuario{
    margin: 22px;
    border-radius: 10px;
    background-color: rgb(127, 255, 212);
    padding: 0 12px;
    justify-content: space-between;
}
header {
   padding: 12px 40px 12px 50px;
   margin-top: 10px;
}
header div{
   justify-content: flex-start;
} 
.divTitulo{
    align-items: flex-start;
    width: 70%;
}
.ingreso  {
    color:rgb(9, 51, 72);
    font-size: 23px;
}
.ingresoMail{
    color:rgb(9, 51, 72);
}
/*---------------CENTRO DE MENSAJES--------------- */
.mensajes{
    position: relative;
    margin-right: 22px;
    padding: 10px 12px;
    border-radius: 10px;
    background-color: rgb(127, 255, 212);
    align-items: center;
    max-width: 400px;
}
.w800{
    max-width: 800px;
}
#conversacion{
flex-wrap: wrap; 
width: 100%;
}
.mensajes input, .mensajes label, .mensajes button{
    margin:5px;
    height: 12px;
    font-size: 13px;
    max-width: 200px;
}
.avatarFoto{
    height: 85px;
    border-radius: 90px;
}
input{
    max-width: 250px;
}
input#mensaje{
    width: 135px;
}
form{
    padding: 0px;
}
.btnLogout{
    background-color: beige;
    color:#2b2b2b;
    vertical-align: middle;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}
.btnLogout:hover{
    background-color: rgba(49, 33, 98, 0.428);
}
.enlaces{
    max-width:240px;
}
ul{
    max-width:215px;
    margin-left: 22px;
    padding: 1px 0 1px 2px;
    background-color: rgb(85, 85, 114);
    border-radius: 10px;
}
.copyright {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: none;
    color: black; 
    margin:40px auto 10px;
}
h1{
    padding: 15px;
    text-align: center;
    color: rgb(42, 42, 164); 
    text-decoration: underline;
    font-size:25px;
}
h2, h3{
    color:rgb(4, 4, 165);
    margin: 10px 10px 0px;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: underline;
}
h3{
    font-size: 15px;
}
table,th,td, tr{
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 10px;
}
table{
    border-collapse:collapse;
    margin: 30px auto;
}
li{
    font-size: 13px;
}
#lista{
    width: 100vw;
    text-align: center;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.textoCentrado{
    text-align: center;
}
.contentCenter{
    justify-content:space-between;
    align-items:center;
}
.alignCenter{
    align-items:center;
}
.contentAround{
    justify-content:space-around;
}
.p25{
    padding: 25px;
}
.p10{
    padding: 10px;
}
.alignStart{
    align-items:flex-start;
}    
.contentBetween{
    justify-content:space-between;
}
.positionRelative{
    width: 100%;
    position: relative;
    left: 40px
}
.aleatoria{
    padding: 10px 100px;
}
.colorWhite{
    color: white;
}
.login{
    width: 300px;
}
.dialogo{
    flex-wrap: wrap;
    display: flex;
    row-gap: 15px;
    margin-top:10px;
}
.dialogo span{
    display: inline-block;
}
.dialogo img{
    max-width: 15px;
    display: inline-block;
}
.flexContent{
    justify-content:space-between;
    align-items:flex-start;
    gap: 10px;
}
button, input, label{
    margin:5px;
    height: 18px;
    padding: 0px 0px 0px 4px;
}
textarea{
    margin:5px;
    padding: 0px 0px 0px 4px;
}
button{
    display: block;
    padding: 3px 5px;
    background-color: rgba(35, 38, 202, 0.646);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
}
.boton{
    display: block;
    background-color: coral;
    color:#2b2b2b;
    border: 1px solid black;
    padding: 2px 20px;
    font-size: 12px;
    font-weight: bold;
}
p{
    line-height: 15px;
}
button:hover, a:hover{
    background-color:grey;
    cursor: pointer
}
.estiloMail{
    color:blue;
    font-weight:bold;
    font-size: 12px;
}
.estiloFecha{
    color:brown;
    font-size: 12px;
}
.estiloMensaje{
    color:green;
    font-style: italic;
    font-size: 12px;
}
.avatar{
    max-height: 30px;
    vertical-align:middle;
    margin-left: 20px;
}
a{
    padding: 5px;
    display: block;
    border-bottom: solid 1px black;
    color:white;
    margin: 10px;
}
.iti--allow-dropdown{
    left: 2%;
    max-width: 300px;
}
.iti * {
     box-sizing: content-box!important; 
    -moz-box-sizing: content-box;
}
.medio{
    padding: 10px 30px
}
label{
    margin-bottom: 0;
}
.centro{
    display: flex;
    align-items: center;
}
.inicio{
    align-items: flex-start;
}
.inicio input{
    width: 100%;
    margin-right: 30px!important;
}
.enlaces{
    width: 40%;
}
#conversacion{
    display: flex;
}
span{
    margin-left: 5px;
    margin-right: 5px;
}
.i{
    text-align: center;
}
#botonActualizarProducto{
    position: relative;
}
.w100{
    width: 100%;
}
.w70{
    width: 70%;
}
.cerrarCuadro{
    background-color: rgb(127, 255, 212);
    top: 40px;
    right: 50px;
    padding: 8px;
    font-size: 30px;
    font-family: cursive;
    cursor: pointer;
}
.imagenNuevaProducto{
    display: block;
    width: 400px;
    max-height: 70%;
    max-width: 70%;
}
.cuadroProducto{
    z-index: 2;
    width: 470px;
    margin: 0 auto;
}
.relative{
    position: relative;
}