<div style="position: relative;">
    <div class="editarPerfil"></div>
    <div class='lapiz'>
        <img src="../img/icons/lapiz.png" alt="Editar Perfil">
    </div>
    <div class="perfil flexCol"></div>
</div>
<div>
    <a class="boton" href="/home">Ir a Centro de Mensajes</a>
</div>
