<div class="flexCol contentCenter">
  <div class="usuario form login flexCol contentCenter">
    <h1>Login de Usuario</h1>
    <form class="flexCol " action="/login" method="POST">
      <label for="username">Ingrese su Email</label>
      <input type="text" required name="username" class="login" value="juanpablo88@hotmail.com">
      <label for="password">Ingrese Contraseña</label>
      <input type="password" name="password" value="1234" required>
      <button>Login</button>
    </form>
      <a class="boton" href="/register">Ir a Registro</a>
  </div>
</div>


