    <div class="cuadro usuario">
      <div class=" flexRow contentCenter">
        <h1 class="derecha">Actualizacion de Producto</h1>
        <p class='cerrarCuadro'> X </p>
      </div>
      <form class='flexRow'>
        <div class=" flexRow contentCenter">
          <label for="nombreProducto">Nombre de Producto</label>
          <input type="text" required name="nombreProducto" value="${producto.nombre}"/>
        </div>
        <div class=" flexRow contentCenter">
          <label for="descripcion">Descripcion</label>
          <textarea type="text" required name="descripcion">${producto.descripcion}</textarea>
        </div>
        <div class=" flexRow contentCenter">
          <label for="codigoProducto">Codigo de Producto</label>
          <input type="text" required name="codigoProducto" value="${producto.codigo}"/>
        </div>
        <div class="flexRow flexContent">
          <label for="precio">Precio</label>
          <input type="number" required name="precio" value="${producto.precio}"/>
        </div>
        <div class="flexRow flexContent">
          <label for="imagenProducto">Imagen de Producto</label>
          <img class='fotoProducto' alt='Foto de ${producto.nombre}' src='${producto.foto}'>
        </div>
        <input type="file" name="imagenProducto"  required/>
      </form>
      <button style='margin: 10px auto;' >Actualizar</button>
    </div>      