<div class="flexCol contentCenter">
  <div class="usuario H1Register  flexCol contentCenter">
    <h1 class="H1Register">Ingrese sus datos para crear la cuenta</h1>
    <form  class="flexCol" action="/api/usuarios" enctype="multipart/form-data" method="POST"/>

      <label for="nombre">Nombre</label>
      <input type="text" required name="nombre" value="Juan"/>

      <label for="apellido">Apellido</label>
      <input type="text" required name="apellido" value="Perez"/>

      <label for="direccion">Direccion</label>
      <input type="text" required name="direccion" value="Chubut 500"/>
      <div>
        <p>Fecha de Nacimiento</p>
        <div class="flexRow">
          <input  pattern="[0-9]{2}" type="text" required name="dia" placeholder="Dia" value="18"/>
          <input  pattern="[0-9]{2}" type="text" required name="mes" placeholder="Mes" value="05"/>
          <input  pattern="[0-9]{4}" type="text" required name="anio" placeholder="Anio" value="1990"/>
        </div>

      </div>

      <label for="imagen">Imagen</label>
      <input type="file" name="imagen" required/>

      <label for="phone">Ingrese codigo de area y telefono</label>
      {{!-- pattern valida que haya un solo '+' y entre 8 y 16 caracteres que sean nros del 0 al 9  --}}
      <input pattern="[+]{1}[0-9]{8,16}" oninput="process(event)" id="phone" type="tel" name="phone"  required/>

      <label for="username">Email</label>
      <input type="email" required name="username" value="juanpablo88@hotmail.com"/>

      <label for="password">Contrasenia</label>
      <input type="password" name="password" value="1234" required/>

      <button >Registrarse</button>
    </form>
    <a  class="boton" href="/login">Ir a login</a>
  </div>
</div>
<iframe src="" allow="" allow-same-origin frameborder="0"></iframe>
<script src="../js/prefijosTel.js"></script>
