<div class="flexCol contentCenter" >
  <div class="flexCol usuario aleatoria contentCenter">
    <h1>Tabla de productos aleatorios</h1>
    <table>
            <thead>
                <tr>
                    <th>Nombre de producto</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </tr>
            </thead>
            <tbody>
              {{{tablaProductos}}}
            </tbody>

    </table>
    <a class="boton" href="/centroMensajes">Ir a Centro de Mensajes</a>
  </div>
</div>
